.banner-img:after {
    content: '';
    position: absolute;
    /* left: 20px; */
    /* right: 20px; */
    top: 64px;
    width: 100%;
    height: 450px;
    display: inline-block;
    background: linear-gradient(to bottom, #109b86 0%, rgba(21, 21, 21, 0) 80%)
  }

  .img-travel{
    width: 100%;
    height: 450px;
}